body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Zajištění plné výšky stránky */
    margin: 0;
}

.experience__container{
    row-gap: 2rem;
}

.experience__card{
    display: grid;
    row-gap: 1rem;
}

.expreience__company{
    font-size: var(--h2-velikost)
}

.experience__data{
    background-color: var(--container-barva);
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.experience__profession{
    font-size: var(--h3-velikost);
    margin-bottom: .5rem;
}

.experience__date{
    display:block;
    font-size: var(--mensi-velikost);
    margin-bottom : 1rem;
}

.experience__description{
    color: var(--text-barva);
}

.experience {
    flex: 1; /* Sekce zabírá volné místo mezi navbar a footer */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertikální zarovnání na střed */
    align-items: center;     /* Horizontální zarovnání na střed */
}