*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input,button{
    border:none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto;
}

.login__contents,
.login__form,
.login__inputs{
    display: grid;
}

.login__content{
    position: relative;
    height: 100vh;
    align-items: center;
}

.login__img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.login__form {
    position: relative;
    background-color: hsla(0, 0%, 0%, 0.6);
    border: 2px solid hsla(244, 16%, 92%, .75);
    margin-inline: 1.5rem;
    row-gap: 1.25rem;
    backdrop-filter: blur(20px);
    padding: 2rem;
    border-radius: 1rem;
}

.login__title{
    color: var(--bila-barva);
    font-size: var(--h2-velikost);
    margin-bottom: .5rem;
}

.login__title span{
    color: var(--bila-barva)
}

.login__inputs{
    row-gap: 0.75rem;
    margin-bottom: 0.5rem;
}

.login__label{
    display: block;
    color: var(--bila-barva);
    font-size: var(--mala-velikost);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}

.login__input{
    width: 100%;
    padding: 14px 12px;
    border-radius: 6px;
    border: 2px solid var(--bila-barva);
    color: var(--bila-barva);
    font-size: var(--mala-velikost);
    font-weight: var(--font-medium);
    transition: border .4s;
}

.login__input::placeholder{
    color: var(--cerna-barva)
}

.login__input:focus,
.login__input:valid{
    border: 2px solid var(--prvni-barva);
}

.login__box{
    position: relative;
}

.login__box .login__input{
    padding-right: 36px;
}

.login__eye{
    width:max-content;
    height: max-content;
    position: absolute;
    right: .75rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--cerna-barva)
}

.login__check{
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.login__check-input{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid var(--bila-barva);
    background-color: hsla(244, 16%, 92%, .2);
    border-radius: .25rem;
}

.login__check-input:checked{
    background-color: var(--prvni-barva);
}

.login__check-input:checked::before{
    content: '✓';
    display: block;
    color:var(--bila-barva);
    font-size: .75rem;
    transform: translate(1.5px, -2.5px);
}

.login__check-label{
    color: var(--bila-barva);
    font-size:var(--mala-velikost);
}

.login__buttons{
    display: flex;
    column-gap: .75rem;
}

.login__button{
    width: 100%;
    padding: 14px 2rem;
    border-radius: 6px;
    background: linear-gradient(180deg,
                var(--prvni-barva),
                var(--prvni-barva-alt));
    color: white;
    font-size: var(--mala-velikost);
    font-weight: var(--font-semi-bold);
    box-shadow: 0 6px 24px hsla(244, 75%, 48%, .5);
    margin-bottom: 1rem;
    cursor: pointer;
}

.login__button-ghost{
    background:hsla(0, 0%, 15%, 0.6);
    border: 2px solid var(--bila-barva);
    color: var(--bila-barva);
    box-shadow: none;
}

.login__forgot{
    font-size: var(--mala-velikost);
    font-weight: var(--font-semi-bold);
    color:var(--bila-barva);
    text-decoration: none;
}

/*==Menší zařízení==*/

@media screen and (max-width: 768px){
    .login__buttons{
        flex-direction: column;
    }

    .login__form{
        transform: translateY(-50%);
        top: 50%;
    }
}

/*==Střední zařízení==*/

@media screen and (max-width: 1200px){
    .login__form{
        width:450px;
        justify-self: center;
        transform: translateY(-50%);
        top: 50%;
    }

}

/*==Velké zařízení==*/
@media screen and (min-width: 1200px){
    .container{
        height: 100vh;
        display: grid;
        place-items: center;
    }

    .login__content{
        width: 1024px;
        height: 600px;
    }

    .login__img{
        border-radius: 3.5rem;
        box-shadow: 0 24px 48px var(--prvni-barva-alt);
    }

    .login__form{
        justify-self: flex-end;
        margin-right: 4.5rem;
        margin-top: 5rem;
        width:450px;
    }

    .login__title{
        font-size: var(--h1-velikost);
    }
}