/*Google Fonty (Monserrat a Playfair Display*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*PROMĚNNÉ*/

/*Barvy*/
/*hue, saturace, svetlost*/

*{
    margin: 0;
    padding: 0;
}

:root{
    --hue: 250;
    --prvni-barva: hsl(var(--hue), 80%, 49%);
    --prvni-barva-alt: hsl(var(--hue), 76%, 45%);
    --bila-barva: hsl(0,0%,98%);
    --cerna-barva: hsl(0,0%,1%);
    --text-barva: hsl(var(--hue), 2%, 66%);
    --body-barva: hsl(var(--hue), 100%, 1%);
    --container-barva: hsl(var(--hue), 2%, 10%);
    --prechod: conic-gradient(from 150deg at 50% 45%,
            hsl(var(--hue), 80%, 20%) 0deg,
            hsl(var(--hue), 80%, 48%) 140deg,
            hsl(var(--hue), 80%, 20%) 360deg);

    /*Text*/
    /*1rem = 16px*/
    --body-font: "Montserrat", sans-serif;
    --druhy-font: "Playfair Display";
    --max-velikost: 2.5rem;
    --h1-velikost: 1.5rem;
    --h2-velikost: 1.25rem;
    --h3-velikost: 1rem;

    --normalni-velikost: .938rem;
    --mala-velikost: .813rem;
    --nejmensi-velikost: .75rem;

    /*Font weight*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*parametr Z*/
    --z-tooltip: 10;
    --z-fixed: 100;

    /*Responzivni text*/
    @media screen and (min-width: 1168px) {
        :root {
            --max-velikost: 3.5rem;
            --h1-velikost: 2.25rem;
            --h2-velikost: 1.5rem;
            --h3-velikost: 1.25rem;
            --normalni-velikost: 1rem;
            --mala-velikost: .875rem;
            --nejmensi-velikost: .13rem;
        }
    }
}

/*ZÁKLAD STRÁNKY*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body, input, textarea, button {
    font-family: var(--body-font);
    font-size: var(--normalni-velikost);
}

body {
    background-color: var(--body-barva);
    color: var(--bila-barva);
}

input, button, textarea { 
border: none;
outline: none;
}

h1, h2, h3, h4 {
    color: var(--bila-barva);
    font-weight: var(--font-semi-bold)
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*TŘÍDY*/

.container {
    max-width: 1168px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2rem 3rem;
}

.section__title {
    font-size: var(--h2-velikost);
    text-align: center;
    margin-bottom: 2rem;
}

.main {
    overflow: hidden;
}

.button{
    display: inline-flex;
    justify-content: center;
    background-color: var(--prvni-barva);
    color: var(--bila-barva);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 2.5rem;
    border-radius: 4rem;
    transition: background-color .4s
}

.button__black{
    background-color: var(--cerna-barva);
}

.button:hover{
    background-color: var(--prvni-barva-alt);
}

::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(0, 0%, 20%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 30%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 40%);
    border-radius: .5rem;
}


/*======ODDELENI=======*/

/*==Malé zařízení==*/
@media screen and (min-width: 320px){
    .container{
        margin-inline: 1rem;
    }

    .nav{
        padding: 1rem;
    }

    .profil{
        height: 100%;
    }
}

/*==Střední zařízení==*/

@media screen and (min-width: 540px){
    .nav{
        width: max-content;
    }

    .nav__list{
        column-gap: 1.25rem;
    }

    .home__container,
    .projects__container,
    .knowledge__container,
    .experience__container,
    .contact__container{
    grid-template-columns: 380px;
    justify-content: center;
    }
}

@media screen and (min-width: 768px){
    .home__container{
        grid-template-columns: repeat(2, 350px);
        align-items: flex-start;
    }

    .profil{
        height: 100%;
    }

    .projects__container,
    .knowledge__container{
        grid-template-columns: repeat(2, 350px);
    }

    .experience__container{
        grid-template-columns: initial;
    }

    .experience__card{
        grid-template-columns: 320px 380px;
        align-items: center;
    }


.footer__container,
.footer__content{
    grid-template-columns: repeat(2,max-content);
    align-items: center;
}

.footer__container{
    justify-content: space-between;
}

.footer__content{
    column-gap: 4.5rem;
}

}

/*==Velké zařízení==*/

@media screen and (min-width: 1200px){
    .container{
        margin-inline: auto;
    }


    .section{
        padding-block: 3rem 4rem;
    }

    .section__title{
        font-size: var(--max-velikost);
        margin-bottom: 4rem;
    }

    .home__container{
        grid-template-columns: 280px 560px 280px;
        align-items: stretch;
    }

    .profil{
        grid-column: 2/3;
        grid-row: 1/3;
        padding: 2rem;
    }

    .profil__img{
        width: 1200px;
    }

    .profil__data{
        width: 370px;
        padding: 1.5rem;
        border-radius: 2rem;
    }

    .info{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .info__name{
        font-size: var(--h2-velikost);
    }

    .about{
        grid-column: 3/4;
        grid-row: 1/3;
        align-content: center;
    }

    .about__image{
        height: 210px;
    }

    .about__img{
        transform: translateY(-1rem);
    }

    .skills{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .skills__title{
        font-size: var(--h3-velikost);
    }

    .projects__container{
        grid-template-columns: repeat(3, 368px);
        gap: 2rem;
    }

    .projects__card{
        padding-bottom: 2rem;
    }

    .knowledge__container{
        grid-template-columns: repeat(3, 368px);
        gap: 2rem;
    }

    .knowledge__card{
        padding-block: 6rem 5rem;
    }

    .knowledge__icon i {
        font-size: 3.5rem;
    }

    .knowledge__circle{
        width: 4rem;
        height: 4rem;
        right: -1.5rem;
        top: -1.5rem
    }

    .experience__container{
        row-gap: 4rem;
    }

    .experience__card{
        grid-template-columns: 350px 510px;
        column-gap: 8rem;
    }

    .experience__company{
        font-size: var(--h1-velikost);
    }

    .experience__data{
        padding: 2rem;
        border-radius: 2rem;
    }

    .contact__container{
        grid-template-columns: 620px;
    }

    .contact__group{
        grid-template-columns: repeat(2, 1fr);
    }

    .contact__area{
        height: 15rem;
    }

    .contact__button{
        width: max-content;
        justify-self: center;
    }

    .footer{
        padding-top: 3rem;
    }

    .footer__links{
        column-gap: 3rem;
    }

    .footer__copy{
        margin-top: 7rem;
    }
}

@media screen and (min-width: 1500px){
    .nav{
        width:max-content;
        height: max-content;
        padding: 2rem 1rem;
        left: initial;
        right: 3rem;
        top: 0;
        bottom: 0;
        margin-block: auto;
    }

    .nav__list{
        flex-direction: column;
        row-gap: 1.25rem;
    }

    .footer{
        padding-block: 3rem
    }
}