/*Google Fonty (Monserrat a Playfair Display*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*PROMĚNNÉ*/

/*Barvy*/
/*hue, saturace, svetlost*/

*{
    margin: 0;
    padding: 0;
}

:root{
    --hue: 250;
    --prvni-barva: hsl(var(--hue), 80%, 49%);
    --prvni-barva-alt: hsl(var(--hue), 76%, 40%);
    --bila-barva: hsl(0,0%,98%);
    --cerna-barva: hsl(0,0%,1%);
    --text-barva: hsl(var(--hue), 2%, 66%);
    --body-barva: hsl(var(--hue), 100%, 1%);
    --container-barva: hsl(var(--hue), 2%, 10%);
    --prechod: conic-gradient(from 150deg at 50% 45%,
            hsl(var(--hue), 80%, 20%) 0deg,
            hsl(var(--hue), 80%, 48%) 140deg,
            hsl(var(--hue), 80%, 20%) 360deg);

    /*Text*/
    /*1rem = 16px*/
    --body-font: "Montserrat", sans-serif;
    --druhy-font: "Playfair Display";
    --max-velikost: 2.5rem;
    --h1-velikost: 1.5rem;
    --h2-velikost: 1.25rem;
    --h3-velikost: 1rem;

    --normalni-velikost: .938rem;
    --mala-velikost: .813rem;
    --nejmensi-velikost: .75rem;

    /*Font weight*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*parametr Z*/
    --z-tooltip: 10;
    --z-fixed: 100;

    /*Responzivni text*/
    @media screen and (min-width: 1168px) {
        :root {
            --max-velikost: 3.5rem;
            --h1-velikost: 2.25rem;
            --h2-velikost: 1.5rem;
            --h3-velikost: 1.25rem;
            --normalni-velikost: 1rem;
            --mala-velikost: .875rem;
            --nejmensi-velikost: .13rem;
        }
    }
}

#flex-container {
    display:flex;
    flex-direction:column;
 
    /* fallback height */
    min-height:100vh;
 
    /* new small viewport height for modern browsers */
    min-height:100svh;
 }
 #flex-container > footer {
    margin-top:auto;
 }

/*ZÁKLAD STRÁNKY*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body, input, textarea, button {
    font-family: var(--body-font);
    font-size: var(--normalni-velikost);
}

body {
    background-color: var(--body-barva);
    color: var(--bila-barva);
}

input, button, textarea { 
border: none;
outline: none;
}

h1, h2, h3, h4 {
    color: var(--bila-barva);
    font-weight: var(--font-semi-bold)
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*TŘÍDY*/

.container {
    max-width: 1168px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2rem 3rem;
}

.section__title {
    font-size: var(--h2-velikost);
    text-align: center;
    margin-bottom: 2rem;
}

.button{
    display: inline-flex;
    justify-content: center;
    background-color: var(--prvni-barva);
    color: var(--bila-barva);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 2.5rem;
    border-radius: 4rem;
    transition: background-color .4s
}

.button__black{
    background-color: var(--cerna-barva);
}

.button:hover{
    background-color: var(--prvni-barva-alt);
}

::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(0, 0%, 20%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 30%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 40%);
    border-radius: .5rem;
}

/*======NAVBAR=======*/
.nav{
    position:fixed;
    bottom:1.5rem;
    left:0;
    right:0;
    background-color: hsla(0,0%,98%, .1);
    width: 88%;
    margin-inline: auto;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding: 1rem 2rem;
    border-radius: 4rem;
    z-index: var(--z-fixed);
}

.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    color: var(--bila-barva);
    font-size: 1.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: background-color .6s
}

.active-link{
    background-color: var(--prvni-barva);
}

.nav__link:hover{
background-color: var(--prvni-barva-alt);
}

/*======FOOTER=======*/

.footer__container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 auto;
}

.footer__logo{
    color: var(--bila-barva);
    font: var(--font-regular) var(--max-velikost) var(--druhy-font);
}

.footer__social{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}

.footer__social-link{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--prvni-barva);
    color: var(--bila-barva);
    font-size: 1.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: background-color .4s, color .4s;
}

.footer__social-link:hover{
    background-color: var(--bila-barva);
    color: var(--cerna-barva)
}


/*======HOME SEKCE=======*/

/*Profil*/
.profil{
    position: relative;
    background: var(--prechod); 
    height: 415px;
    border-radius: 2rem;
    padding: 1rem;
    display: grid;
    overflow: hidden;
}

.profil__img{
    width: 450px;
    position:absolute;
    justify-self: center;
    align-self: flex-end;
}

.profil__data{
    align-self: flex-end;
    background-color: hsla(0, 0%, 1%, .1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding: 1.5rem 1rem;
    border-radius: 1.5rem;
    border: 2px solid hsla(0, 0%, 100%, .5)
}

.profil__name{
    font: var(--font-medium) var(--max-velikost) var(--body-font);
    margin-bottom: 1rem;
}

.profil__buttons{
    display: grid;
    column-gap: .5rem;
    grid-template-columns: repeat(2, 1fr);
}

.profil__buttons .button {
    padding: .75rem 0;
}

/*INFO*/

.info, 
.about, 
.skills{
    background-color: var(--container-barva);
    padding: 2rem 1.5rem;
    border-radius: 2rem;
}

.info__circle{
    width: 2rem;
    height: 2rem;
    background-color: var(--prvni-barva);
    border-radius: 50%;
}

.info__name{
    font: var(--font-regular) var(--h1-velikost) var(--body-font)
}

.info__data{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

.info__image{
    background: var(--prechod);
    height: 180px;
    border-radius: 2rem;
    display:grid;
    margin-block: 1.5rem;
    overflow: hidden;
}

.info__img{
    width: 140px;
    justify-self: center;
    align-self: flex-end;
}

.info__description{
    font-size: var(--stredni-velikost);
    margin-bottom: 2rem;
}

.info .button{
    width:100%
}

/*O MNĚ*/
.about__name{
    font-size: var(--normalni-velikost);
    font-weight: var(--font-regular);
    margin-bottom: 1rem;
}

.about__social{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-block: 2rem;
}

.about__link{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--bila-barva);
    color: var(--cerna-barva);
    font-size:1.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: background-color .4s, color .4s;
}

.about__link:hover{
    background-color: var(--prvni-barva);
    color: var(--bila-barva)
}

.about__image{
    background: var(--prechod);
    height: 180px;
    border-radius: 2rem;
    display: grid;
    overflow: hidden;
}

.about__img{
    width: 250px;
    justify-self: center;
    transform: translateY(-2.5rem)
}

.about__note{
    font-size: var(--mala-velikost);
    margin-block: 1rem 2rem;
}

.about .button{
    width: 100%;
}

/*Dovednosti*/

.skills__title{
    font-size: var(--h2-velikost)
}

.skills__item{
    width: 2.5rem;
    transition: transform .4s;
}

.skills__item:hover{
    transform: translateY(-.25rem);
}

.skills__items{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    margin-block: 1.5rem;
    
}

.skills__description{
    font-size: var(--mala-velikost);
}

/*Zkušenosti*/
body.experience {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Zajištění plné výšky stránky */
    margin: 0;
}

.experience__container{
    row-gap: 2rem;
}

.experience__card{
    display: grid;
    row-gap: 1rem;
}

.expreience__company{
    font-size: var(--h2-velikost)
}

.experience__data{
    background-color: var(--container-barva);
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.experience__profession{
    font-size: var(--h3-velikost);
    margin-bottom: .5rem;
}

.experience__date{
    display:block;
    font-size: var(--mensi-velikost);
    margin-bottom : 1rem;
}

.experience__description{
    color: var(--text-barva);
}

.experience {
    flex: 1; /* Sekce zabírá volné místo mezi navbar a footer */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertikální zarovnání na střed */
    align-items: center;     /* Horizontální zarovnání na střed */
}

/*Vědomosti*/
.knowledge__card{
    background-color: var(--container-barva);
    padding: 4rem 1.5rem 3.5rem 1.5rem;
    border-radius: 2rem;
}

.knowledge__icon{
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;
}

.knowledge__icon i {
    font-size: 2.5rem;
    position: relative;
    z-index: var(--z-tooltip);
}

.knowledge__circle{
    width: 3rem;
    height: 3rem;
    background-color: var(--prvni-barva);
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    right: -1rem;
    transition: transform .4s;
}

.knowledge__name{
    font-size: var(--h3-velikost);
    margin-bottom: 1rem;
}

.knowledge__description{
    color: var(--text-barva)
}

.knowledge__card:hover .knowledge__circle{
    transform: translate(.25rem, -.25rem);
}


/*==Kontakt==*/
.contact body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.contact__group,
.contact__form{
    gap: 1rem;
}

.contact__form{
    position: relative;
}

.contact__input{
    background-color: var(--container-barva);
    padding: 1.25rem;
    border-radius: 2rem;
    color: var(--bila-barva)
}

.contact__input::placeholder{
    color: var(--text-barva)
}

.contact__input:autofill{
    transition: background-color 6000s, color 6000s;
}

.contact__area{
    height: 15rem;
    border-radius: 2rem;
    resize:none;
}

.contact__message{
    position: absolute;
    left: 0;
    bottom: 4.5rem;
    font-size: var(--mensi-velikost)
}

.contact__button{
    margin-top:1.5rem;
    cursor:cell;
}

.contact{
    flex: 1; /* Sekce zabírá volné místo mezi navbar a footer */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertikální zarovnání na střed */
    align-items: center;     /* Horizontální zarovnání na střed */
}

/*==LOGIN==*/
.login *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.login__contents,
.login__form,
.login__inputs{
    display: grid;
}

.login__content{
    position: relative;
    height: 100vh;
    align-items: center;
}

.login__img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.login__form {
    position: relative;
    background-color: hsla(0, 0%, 0%, 0.6);
    border: 2px solid hsla(244, 16%, 92%, .75);
    margin-inline: 1.5rem;
    row-gap: 1.25rem;
    backdrop-filter: blur(20px);
    padding: 2rem;
    border-radius: 1rem;
}

.login__title{
    color: var(--bila-barva);
    font-size: var(--h2-velikost);
    margin-bottom: .5rem;
}

.login__title span{
    color: var(--bila-barva)
}

.login__inputs{
    row-gap: 0.75rem;
    margin-bottom: 0.5rem;
}

.login__label{
    display: block;
    color: var(--bila-barva);
    font-size: var(--mala-velikost);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}

.login__input{
    width: 100%;
    padding: 14px 12px;
    border-radius: 6px;
    border: 2px solid var(--bila-barva);
    color: var(--cerna-barva);
    font-size: var(--mala-velikost);
    font-weight: var(--font-medium);
    transition: border .4s;
}

.login__input::placeholder{
    color: var(--cerna-barva)
}

.login__input:focus,
.login__input:valid{
    border: 2px solid var(--prvni-barva);
}

.login__box{
    position: relative;
}

.login__box .login__input{
    padding-right: 36px;
}

.login__eye{
    width:max-content;
    height: max-content;
    position: absolute;
    right: .75rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--cerna-barva)
}

.login__check{
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.login__check-input{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid var(--bila-barva);
    background-color: hsla(244, 16%, 92%, .2);
    border-radius: .25rem;
}

.login__check-input:checked{
    background-color: var(--prvni-barva);
}

.login__check-input:checked::before{
    content: '✓';
    display: block;
    color:var(--bila-barva);
    font-size: .75rem;
    transform: translate(1.5px, -2.5px);
}

.login__check-label{
    color: var(--bila-barva);
    font-size:var(--mala-velikost);
}

.login__buttons{
    display: flex;
    column-gap: .75rem;
}

.login__button{
    width: 100%;
    padding: 14px 2rem;
    border-radius: 6px;
    background: linear-gradient(180deg,
                var(--prvni-barva),
                var(--prvni-barva-alt));
    color: white;
    font-size: var(--mala-velikost);
    font-weight: var(--font-semi-bold);
    box-shadow: 0 6px 24px hsla(244, 75%, 48%, .5);
    margin-bottom: 1rem;
    cursor: pointer;
}

.login__button-ghost{
    background:hsla(0, 0%, 15%, 0.6);
    border: 2px solid var(--bila-barva);
    color: var(--bila-barva);
    box-shadow: none;
}

.login__forgot{
    font-size: var(--mala-velikost);
    font-weight: var(--font-semi-bold);
    color:var(--bila-barva);
    text-decoration: none;
}

/*==PLAYLISTY==*/
.playlist-details{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 
 .playlist-details .row{
     display: flex;
     align-items: flex-end;
     gap:3rem;
     flex-wrap: wrap;
     background-color: var(--body-barva);
     padding: 1rem;
  }
  
  .playlist-details .row .column{
     flex: 1 1 40rem;
  }
  
  .playlist-details .row .column .save-playlist{
     margin-top: 1rem;
  }
  
  .playlist-details .row .column .save-playlist button{
     border-radius: .5rem;
     background-color: var(--prvni-barva);
     padding:1rem 1.5rem;
     cursor: pointer;
     transition: background-color .4s;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 4rem;
  }
  
  .playlist-details .row .column .save-playlist button i{
     font-size: 2rem;
     color:var(--bila-barva);
     margin-right: .8rem;
  }
  
  .playlist-details .row .column .save-playlist button span{
     font-size: 1.8rem;
     color:var(--bila-barva);
  }
  
  .playlist-details .row .column .save-playlist button:hover{
     background-color: var(--bila-barva);
  }
  
  .playlist-details .row .column .save-playlist button:hover i{
     color:var(--prvni-barva);
  }
  
  .playlist-details .row .column .save-playlist button:hover span{
     color:var(--cerna-barva);
  }
  
  .playlist-details .row .column .thumb{
     position: relative;
 
  }
  
  .playlist-details .row .column .thumb span{
     font-size: 1.8rem;
     color: #fff;
     background-color: rgba(0,0,0,.3);
     border-radius: .5rem;
     position: absolute;
     top: 1rem; left: 1rem;
     padding: .5rem 1.5rem;
  }
  
  .playlist-details .row .column .thumb img{
     height: 30rem;
     width: 100%;
     object-fit: cover;
     border-radius: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  .playlist-details .row .column .tutor{
     display: flex;
     align-items: center;
     gap: 2rem;
     margin-bottom: 2rem;
  }
  
  .playlist-details .row .column .tutor img{
     height: 7rem;
     width: 7rem;
     border-radius: 50%;
     object-fit: cover;
  }
  
  .playlist-details .row .column .tutor h3{
     font-size: 2rem;
     color:var(--bila-barva);
     margin-bottom: .2rem;
  }
  
  .playlist-details .row .column .tutor span{
     font-size: 1.5rem;
     color: var(--bila-barva);
  }
  
  .playlist-details .row .column .details h3{
     font-size: 2rem;
     color: var(--bila-barva);
     text-transform: capitalize;
  }
  
  .playlist-details .row .column .details p{
     padding: 0.5rem 0;
     line-height: 2;
     font-size: 1.8rem;
     color: var(--bila-barva);
  }
 
  .inline-btn,
  .inline-delete-btn,
  .btn,
  .delete-btn,
  .option-btn{
     border-radius: .5rem;
     color:var(--bila-barva);
     font-size: 1.8rem;
     cursor: pointer;
     padding:1rem 3rem;
     text-align: center;
     margin-top: 1rem;
     background-color: var(--prvni-barva);
     transition: background-color .4s
  }
 
 
 /*==PROJEKTY==*/

 
.projects__card{
    background-color: var(--container-barva);
    padding: 1.5rem;
    border-radius: 2rem;
}

.projects__image{
    display: block;
    overflow: hidden;
    border-radius: 1.5rem ;
    margin-bottom: 1.5rem;
}

.projects__img{
    transition: transform .4s;
}

.projects__name{
    font-size:var(--h3-velikost);
    margin-bottom: .5rem;
}

.projects__description{
    color: var(--text-barva);
    margin-bottom: 1.5rem;
}

.projects__skill{
    width: 1rem;
    transition: transform .4s;
}

.projects__skill:hover{
    transform: translateY(-.25rem)
}

.projects__skills{
    width: max-content;
    height: 34px;
    background-color: var(--cerna-barva);
    padding-inline: .75rem;
    display: flex;
    align-items: center;
    column-gap: .75rem;
    border-radius: 4rem;
    margin-bottom: 1.5rem
}

.projects__button{
    color: var(--bila-barva);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: color .4s;
}

.projects__button i{
    font-size: 1.25rem;

}

.projects__button span {
    font-weight: var(--font-medium);
}

.projects__button:hover{
    color:var(--text-barva)
}

.projects__card:hover .projects__img{
    transform: scale(1.2);
}

/*==VIDEA==*/
.watch-video .video-container{
    background-color: var(--body-barva);
    border-radius: .5rem;
    padding: 2rem;
    margin: 5rem;
 }
 
 .watch-video .video-container .video{
    position: relative;
    margin-bottom: 1.5rem;
 }
 
 .watch-video .video-container .video video{
    border-radius: .5rem;
    width: 100%;
    object-fit: contain;
    background-color: #000;
 }
 
 .watch-video .video-container .title{
    font-size: 2rem;
    color: var(--bila-barva);
 }
 
 .watch-video .video-container .info{
    display: flex;
    margin-top: 1.5rem;
    border-bottom: var(--bila-barva);
    padding-bottom: 1.5rem;
    gap: 2.5rem;
    align-items: center;
 }
 
 .watch-video .video-container .info p{
    font-size: 1.6rem;
 }
 
 .watch-video .video-container .info p span{
    color: var(--bila-barva);
 }
 
 .watch-video .video-container .info i{
    margin-right: 1rem;
    color: var(--prvni-barva);
 }
 
 .watch-video .video-container .tutor{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
 }
 
 .watch-video .video-container .tutor img{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    object-fit: cover;
 }
 
 .watch-video .video-container .tutor h3{
    font-size: 2rem;
    color: var(--bila-barva);
    margin-bottom: .2rem;
 }
 
 .watch-video .video-container .tutor span{
    font-size: 1.5rem;
    color: var(--bila-barva);
 }
 
 .watch-video .video-container .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
 }
 
 .watch-video .video-container .flex button{
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    cursor: pointer;
    background-color: var(--prvni-barva);
    transition: background-color .4s
 }
 
 .watch-video .video-container .flex button i{
    margin-right: 1rem;
    color: var(--bila-barva);
 }
 
 .watch-video .video-container .flex button span{
    color: var(--bila-barva);
 }
 
 .watch-video .video-container .flex button:hover{
    background-color: var(--bila-barva);
 }

 .watch-video .video-container .flex button:hover i{
    color: var(--prvni-barva);
 }
 
 .watch-video .video-container .flex button:hover span{
    color: var(--cerna-barva);
 }

 .inline-btn:hover{
   background-color: var(--bila-barva);
   color: var(--cerna-barva);
 }
 
 .watch-video .video-container .description{
    line-height: 1.5;
    font-size: 1.7rem;
    color: var(--bila-barva);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
 }

 .watch-video {
   width: 80%;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }




 .comments{
    margin: 5rem;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
 .comments .add-comment{
    background-color: var(--body-barva);
    border-radius: .5rem;
    padding: 2rem;
    margin-bottom: 3rem;
 }
 
 .comments .add-comment h3{
    font-size: 2rem;
    color: var(--bila-barva);
    margin-bottom: 1rem;
 }
 
 .comments .add-comment textarea{
    height: 20rem;
    resize: none;
    background-color: var(--container-barva);
    border-radius: .5rem;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--cerna-barva);
    width: 100%;
    margin: .5rem 0;
 }
 
 .comments .box-container{
    display: grid;
    gap: 2.5rem;
    background-color: var(--body-barva);
    padding: 2rem;
    border-radius: .5rem;
 }
 
 .comments .box-container .box .user{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
 }
 
 .comments .box-container .box .user img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
 }
 
 .comments .box-container .box .user h3{
    font-size: 2rem;
    color: var(--bila-barva);
    margin-bottom: .2rem;
 }
 
 .comments .box-container .box .user span{
    font-size: 1.5rem;
    color: var(--bila-barva);
 }
 
 .comments .box-container .box .comment-box{
    border-radius: .5rem;
    background-color: var(--container-barva);
    padding:1rem 1.5rem;
    white-space: pre-line;
    margin: .5rem 0;
    font-size: 1.8rem;
    color: var(--bila-barva);
    line-height: 1.5;
    position: relative;
    z-index: 0;
 }
 
 .comments .box-container .box .comment-box::before{
    content: '';
    position: absolute;
    top: -1rem; left: 1.5rem;
    background-color: var(--container-barva);
    height: 1.2rem;
    width: 2rem;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
 }
 
 .inline-delete-btn:hover{
   background-color: var(--bila-barva);
   color: var(--cerna-barva);
 }

 /*==Malé zařízení==*/
@media screen and (min-width: 200px){
   .watch-video {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
   
   .watch-video .video-container .title{
      font-size: 2rem;
      color: var(--bila-barva);
   }

   .watch-video .video-container .info p{
      font-size: 1rem;
   }
   
   .watch-video .video-container{
      padding: 2rem;
      margin: 1rem;
   }

   .watch-video .video-container .video{
      position: relative;
      margin-bottom: 1rem;
   }
   
   .watch-video .video-container .video video{
      border-radius: .5rem;
      width: 100%;
      object-fit: fill;
      background-color: #000;
   }

   .inline-btn,
.inline-delete-btn,
.btn,
.delete-btn,
.option-btn{
   border-radius: .5rem;
   color:var(--bila-barva);
   font-size: 1.4rem;
   cursor: pointer;
   padding:1rem 1rem;
   text-align: center;
   margin-top: 1rem;
   background-color: var(--prvni-barva);
   transition: background-color .4s
}

.watch-video .video-container .flex button{
   border-radius: .5rem;
   padding: 1rem 1rem;
   font-size: 1.4rem;
   margin-top: 1rem;
   cursor: pointer;
   background-color: var(--prvni-barva);
   transition: background-color .4s
}

.watch-video .video-container .description{
   line-height: 1.5;
   font-size: 1.2rem;
   color: var(--bila-barva);
   margin-top: 2rem;
}

.watch-video .video-container .tutor{
   display: flex;
   align-items: center;
   gap: 2rem;
   margin-bottom: 1rem;
}

.watch-video .video-container .tutor img{
   border-radius: 50%;
   height: 3rem;
   width: 3rem;
   object-fit: cover;
}

.watch-video .video-container .tutor h3{
   font-size: 1.5rem;
   color: var(--bila-barva);
   margin-bottom: .2rem;
}

.watch-video .video-container .tutor span{
   font-size: 1.3rem;
   color: var(--bila-barva);
}

.comments{
   margin: 5rem;
   width: 80%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
}

/*==Velké zařízení==*/
@media screen and (min-width: 1200px){
   .watch-video {
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
   
    .watch-video .video-container .title{
      font-size: 2rem;
    }

    .watch-video .video-container .info p{
      font-size: 1.6rem;
   }

   .watch-video .video-container{
      background-color: var(--body-barva);
      border-radius: .5rem;
      padding: 2rem;
      margin: 5rem;
   }

.inline-btn,
.inline-delete-btn,
.btn,
.delete-btn,
.option-btn{
   border-radius: .5rem;
   color:var(--bila-barva);
   font-size: 1.8rem;
   cursor: pointer;
   padding:1rem 3rem;
   text-align: center;
   margin-top: 1rem;
   background-color: var(--prvni-barva);
   transition: background-color .4s
}

 
.watch-video .video-container .flex button{
   border-radius: .5rem;
   padding: 1rem 1.5rem;
   font-size: 1.8rem;
   cursor: pointer;
   background-color: var(--prvni-barva);
   transition: background-color .4s
}

.comments{
   margin: 5rem;
   width: 60%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.watch-video .video-container .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
   margin-left: auto;
   margin-right: auto;
   width: 84%;
}
}

 
 /*==Velké zařízení==*/
 
 @media screen and (min-width: 1200px){
    .playlist-details .row .column .thumb img{
       height: 30rem;
    }
 
    .playlist-details .row .column .tutor {
       margin-top: 2rem;
    }
 
    .playlist-details .row .column .tutor h3{
       font-size: 2rem;
    }
 
    .playlist-details .row .column .tutor img{
       width: 7rem;
       height: 7rem;
    }
 
    .playlist-details .row .column .tutor span{
       font-size: 1.2rem;
    }
 
 
 
 }
 

/*==Menší zařízení==*/

@media screen and (max-width: 768px){
    .login__buttons{
        flex-direction: column;
    }

    .login__form{
        transform: translateY(-50%);
        top: 50%;
    }
}

/*==Střední zařízení==*/

@media screen and (max-width: 1200px){
    .login__form{
        width:450px;
        justify-self: center;
        transform: translateY(-50%);
        top: 50%;
    }

}

/*==Velké zařízení==*/
@media screen and (min-width: 1200px){
    .login__container{
        height: 100vh;
        display: grid;
        place-items: center;
    }

    .login__content{
        width: 1024px;
        height: 600px;
    }

    .login__img{
        border-radius: 3.5rem;
        box-shadow: 0 24px 48px var(--prvni-barva-alt);
    }

    .login__form{
        justify-self: flex-end;
        margin-right: 4.5rem;
        margin-top: 5rem;
        width:450px;
    }

    .login__title{
        font-size: var(--h1-velikost);
    }
}

/*==Malé zařízení==*/
@media screen and (min-width: 320px){
    .container{
        margin-inline: 1rem;
    }

    .nav{
        padding: 1rem;
    }

    .profil{
        height: 100%;
    }

    .playlist-details .row .column .tutor {
        margin-top: 1.2rem;
     }
  
     .playlist-details .row .column .tutor h3{
        font-size: 1.3rem;
     }
  
     .playlist-details .row .column .tutor span{
        font-size: 1rem;
     }
  
     .playlist-details .row .column .tutor img{
        width: 5rem;
        height: 5rem;
     }
  
     .playlist-details .row .column .thumb img{
        height: 10rem;
     }
  
     .playlist-details .row .column .thumb span{
        font-size: 0.8rem;
     }
  
     .playlist-details .row .column .details h3{
        font-size: 2rem;
     }
  
     .playlist-details .row{
        gap:1rem;
     }
  
     .playlist-details .row .column .details p{
        padding: 0.5rem 0;
        line-height: 1.7;
        font-size: 1.2rem;
     }
  
     .playlist-details .row .column .save-playlist button{
        border-radius: .5rem;
        background-color: var(--prvni-barva);
        padding:0.5rem rem;
        cursor: pointer;
        transition: background-color .4s;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
     }
     
     .playlist-details .row .column .save-playlist button span{
        font-size: 1.2rem;
        color:var(--bila-barva);
     }
     
     .playlist-details .row .column .save-playlist button i{
        font-size: 1.2rem;
     }
    
}

/*==Střední zařízení==*/

@media screen and (min-width: 540px){
    .nav{
        width: max-content;
    }

    .nav__list{
        column-gap: 1.25rem;
    }

    .home__container,
    .projects__container,
    .knowledge__container,
    .experience__container,
    .contact__container{
    grid-template-columns: 380px;
    justify-content: center;
    }
}

@media screen and (min-width: 768px){
    .home__container{
        grid-template-columns: repeat(2, 350px);
        align-items: flex-start;
    }

    .profil{
        height: 100%;
    }

    .projects__container,
    .knowledge__container{
        grid-template-columns: repeat(2, 350px);
    }

    .experience__container{
        grid-template-columns: initial;
    }

    .experience__card{
        grid-template-columns: 320px 380px;
        align-items: center;
    }
}

/*==Velké zařízení==*/

@media screen and (min-width: 1200px){
    .container{
        margin-inline: auto;
    }


    .section{
        padding-block: 3rem 4rem;
    }

    .section__title{
        font-size: var(--max-velikost);
        margin-bottom: 4rem;
    }

    .home__container{
        grid-template-columns: 280px 560px 280px;
        align-items: stretch;
    }

    .profil{
        grid-column: 2/3;
        grid-row: 1/3;
        padding: 2rem;
    }

    .profil__img{
        width: 1200px;
    }

    .profil__data{
        width: 370px;
        padding: 1.5rem;
        border-radius: 2rem;
    }

    .info{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .info__name{
        font-size: var(--h2-velikost);
    }

    .about{
        grid-column: 3/4;
        grid-row: 1/3;
        align-content: center;
    }

    .about__image{
        height: 210px;
    }

    .about__img{
        transform: translateY(-1rem);
    }

    .skills{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .skills__title{
        font-size: var(--h3-velikost);
    }

    .projects__container{
        grid-template-columns: repeat(3, 368px);
        gap: 2rem;
    }

    .projects__card{
        padding-bottom: 2rem;
    }

    .knowledge__container{
        grid-template-columns: repeat(3, 368px);
        gap: 2rem;
    }

    .knowledge__card{
        padding-block: 6rem 5rem;
    }

    .knowledge__icon i {
        font-size: 3.5rem;
    }

    .knowledge__circle{
        width: 4rem;
        height: 4rem;
        right: -1.5rem;
        top: -1.5rem
    }

    .experience__container{
        row-gap: 4rem;
    }

    .experience__card{
        grid-template-columns: 350px 510px;
        column-gap: 8rem;
    }

    .experience__company{
        font-size: var(--h1-velikost);
    }

    .experience__data{
        padding: 2rem;
        border-radius: 2rem;
    }

    .contact__container{
        grid-template-columns: 620px;
    }

    .contact__group{
        grid-template-columns: repeat(2, 1fr);
    }

    .contact__area{
        height: 15rem;
    }

    .contact__button{
        width: max-content;
        justify-self: center;
    }
}

@media screen and (min-width: 1500px){
    .nav{
        width:max-content;
        height: max-content;
        padding: 2rem 1rem;
        left: initial;
        right: 3rem;
        top: 0;
        bottom: 0;
        margin-block: auto;
    }

    .nav__list{
        flex-direction: column;
        row-gap: 1.25rem;
    }
}