<footer>
    <div class="footer_container ">
            <a href="index.php" class="footer_logo">Tvořte Digitálně </a>
            <p >Táto stránka je pouze fiktivní. <br> Jedná se o Maturitní práci.</p>
        <div class="footer_social">
            <a href="https://www.youtube.com/@vikec" target="_blank" class="footer_social-link">
                <i class="ri-youtube-line"></i>
            </a>

            <a href="https://www.instagram.com/cerveney_jezis/" target="_blank" class="footer_social-link">
                <i class="ri-instagram-line"></i>
            </a>

            <a href="https://github.com/Vikec69" target="_blank" class="footer_social-link">
                <i class="ri-github-fill"></i>
            </a>
        </div>
    </div>
</footer>